<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
    <meta http-equiv="Cache-control" content="no-cache" />
    <title></title>
	<link rel="stylesheet" type="text/css" href="boyia://app/css/main.css" />
</head>
<body>

<div id="AppBox" class="full" />
<video class="video" src="http://221.228.226.23/11/t/j/v/b/tjvbwspwhqdmgouolposcsfafpedmb/sh.yinyuetai.com/691201536EE4912BF7E4F1E2C67B8119.mp4" />

</body>
<script src="boyiasdk://sdk/Util.mjs" />
<script src="boyiasdk://sdk/Array.mjs" />
<script src="boyiasdk://sdk/Network.mjs" />
<script src="boyiasdk://sdk/View.mjs" />
<script src="boyiasdk://sdk/ViewDoc.mjs" />
<script src="boyiasdk://sdk/InputView.mjs" />
<script src="boyiasdk://sdk/ImageView.mjs" />
<script src="boyia://app/view/PosterView.mjs" />
<script src="boyia://app/view/NewTextItem.mjs" />
<script src="boyia://app/view/CategoryItem.mjs" />
<script src="boyia://app/view/SearchHeader.mjs" />
<script src="boyia://app/view/MainView.mjs" />
<script src="boyia://app/view/Main.mjs" />
</html>