.chat_window {
	position: absolute;
	height: 1280px;
	background-color: #FFFFFF;
}

#chat_header {
	position: absolute;
	height: 80px;
	background-color: #EDEDED;
}

.edit_view {
	position: absolute;
	height: 100px;
	background-color: #EDEDED;
	align: bottom;
}

#chat_view {
	position: absolute;
	top: 80px;
	height: 1200px;
	background-color: #FFFFFF;
}

.msg_submit {
	width: 80px;
	height: 80px;
}

#chat_edit {
	width: 600px;
	height: 80px;
}